Include /etc/ssh/sshd_config.d/*.config
Port 22
ListenAddress 0.0.0.0
LoginGraceTime 30
MaxAuthTries 3
PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no
KbdInteractiveAuthentication no
UsePAM yes
AllowTcpForwarding yes
X11Forwarding no
PrintMotd no
ClientAliveInterval 300
ClientAliveCountMax 3
MaxStartups 10:30:60
AcceptEnv LANG LC_* COLORTERM NO_COLOR
Subsystem	sftp	/usr/lib/openssh/sftp-server
PermitRootLogin no
AllowGroups devs ops audit
